*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock
berkflow_out/

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.*

# Local test support files (like databags)
test/integration/with-registration/data_bags
test/integration/with-registration/encrypted_data_bag_secret_key

# Eclipse
.buildpath
.project

# rbenv
.ruby-version

# versioning
VERSION
