# Set the following for your environment, be sure you can access Simple AD (VPN? kitchen-ec2 driver?),
#   create the appropriate solo databags, and copy this to .kitchen.local.yml.
#
# We need dhclient-helper for CentOS only due to:
#   https://www.centos.org/forums/viewtopic.php?t=24741
# We need resolver cookbooks to setup appropriate DNS resolution for joining the domain
suites:
  - name: with-registration
    run_list:
      - recipe[test-setup::dhclient]
      - recipe[resolver::default]
      - recipe[sssd::default]
      - recipe[test-helper::default]
    attributes:
      set_fqdn: '*.example.com'
      resolver:
        nameservers:
          - 198.51.100.10
          - 203.0.113.20
        search: 'example.com'
      sssd:
        directory_name: 'ldap.example.com'
        test_user: 'Guest'
